In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("cleaned_data/refugee_byYear_byCountry.csv")
df.head(5)

   Year      country amount
0  2000  Afghanistan  1,709
1  2000      Albania      D
2  2000      Algeria     57
3  2000       Angola      D
4  2000      Armenia     20

In [78]:
#replace the placeholder text with NaN values. Drop them for easier analysis
df_updated= df.replace(["D"," D ", " - ", "-","X"," X "], np.NaN)
df_updated = df_updated.dropna()
#remove commas and format the amount column
df_updated = df_updated.replace(',','', regex=True)
df_updated["amount"]=pd.to_numeric(df_updated["amount"])

In [103]:
#refugee the US took in by Year
yearcount = df_updated.groupby(["Year"]).amount.sum()

In [102]:
#countries with most refugees sorted from most to least
refugee_total_by_country = df_updated.groupby(["country"]).amount.sum().sort_values(ascending=False)

In [133]:
df[df.amount == "X"].value_counts("country")

country
Yugoslavia, former       5
Serbia and Montenegro    3
dtype: int64